.mainsection {
  width: 80%;
  margin-top: 5px;
}
.mainsectionWrapper {
  margin: 50px;
}
.usersWrapper {
  display: flex;
  justify-content: space-between;
}
.users {
  width: 240px;
  height: 160px;
  padding: 10px 0px 0px 10px;
  box-shadow: 4px 6px 8px rgb(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-width: 0px, 0px, 0px, 0px;
  border-style: solid;
  border-color: #213f7d0f;
  font-family: Work Sans;
}
.nameStyle {
  color: #545f7d;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.42px;
  text-align: left;
}
.numberStyle {
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.15px;
  text-align: left;
  color: #213f7d;
}
.users span {
  margin: 10px;
}
.tablesection {
  margin-top: 30px;
  position: relative;
  border: 1px solid #213f7d0f;
}

.tablesection > table {
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
}

.tableHead {
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.08px;
  text-align: left;
  color: #545f7d;
}
.tableHeadImg {
  width: 16px;
  height: 10.67px;
  top: 2.67px;
  gap: 0px;
  opacity: 0px;
  color: #545f7d;
}
th > img {
  margin-left: 15px;
}
th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.tableDataData {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  text-align: left;
  color: #545f7d;
}
.thumbnail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.thumbnail form label {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  text-align: left;
  color: #545f7d;
}
.thumbnail form select {
  background: #213f7d1a;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: #545f7d;
}
.pagination {
}

.pagination a {
  color: #545f7d;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  line-height: normal;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  text-align: left;
}
.userColor {
  color: #213f7d;
}
.miniForm {
  width: 260px;
  border: 1px solid black;
  position: absolute;
  top: 45px;
  left: 15px;
  background-color: white;
  padding: 30px 20px;
  border: 1px solid #545f7d24;
  border-radius: 5px;
  border-width: 0px, 0px, 0px, 0px;
  border-style: solid;
  border-color: #213f7d0f;
}
.userForm > label {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.42px;
  text-align: left;
  color: #545f7d;
  margin: 10px 0px;
}
.userForm > select,
input {
  width: 200px;
  padding: 8px;
}

.userForm > * {
  display: block;
}

.viewDetails {
  position: absolute;
  top: 200px;
  left: 950px;
  background-color: white;
  width: 180px;
  border: 1px solid #545f7d0a;
}

.viewDetails > span {
  display: block;
  padding: 10px;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.42px;
  text-align: left;
  color: #545f7d;
}

.viewDetails > span > span {
  margin-left: 10px;
}
